realbulkpbmc.rds
realbulkpbmc.h5seurat
realbulkpbmc.h5ad
.DS_Store
*.rds
.pytest_cache/
.vscode/
*.Identifier
barcodes.*
gene_names.*
features*
*.mtx
.RData
.Rhistory
*.gz
*.h5ad
data/*

Miniconda3-latest-Linux-x86_64.sh
data/.ipynb_checkpoints/barcodes-checkpoint.tsv
data/.ipynb_checkpoints/genes-checkpoint.tsv
scripts/.ipynb_checkpoints/get_assays-checkpoint.R
data/genes.tsv
.ipynb_checkpoints/rdsad-checkpoint.ipynb
tests/__pycache__/
rdsad/__pycache__/
rdsad/__pycache__/__init__.cpython-312.pyc
rdsad/__pycache__/seurat.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_seurat.cpython-312-pytest-8.1.1.pyc
src/rdsad/__pycache__/seurat.cpython-311.pyc
src/rdsad/__pycache__/
src/rdsad/__pycache__/seurat.cpython-311.pyc
src/rdsad/__pycache__/seurat.cpython-311.pyc
src/rdsad/__pycache__/__init__.cpython-311.pyc
src/rdsad/__pycache__/seurat.cpython-311.pyc
